# Core framework
fastapi
uvicorn[standard]
python-dotenv
pydantic

# Vector search & Local Embeddings
fastembed
numpy
asyncpg
pgvector
redis
cachetools

# Generative AI
google-genai

# Document processing
PyMuPDF
datasets

# Testing
pytest
httpx
python-multipart
